.score {
  z-index: 1001;
  background-color: rgba(255,0,0,0);
  position: absolute;
  right: 1%;
  top: 2%;
  height: 100px;
  width: 33%;
  color: white;
  font-size: 22pt;
  padding-top: 18px;
}
canvas {
  background-color: black;
}
